body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.card1 {
  position: relative;
  width: 400px;
  height: 400px;
  border: 1px solid white;
  perspective: 1000px;
  background-color: transparent;
  border-radius: 10px;
    overflow: hidden;

  /* border-width: thin; */

  /* transform: perspective(750px) translate3d(0px, 0px, -250px) */
    /* rotateX(27degree) scale(0.9, 0.9); */
  /* box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3); */
  /* transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow; */
  margin-top: 100px;
}
.card1:hover {
  transform: translate(0px, 0px, -250px);
  box-shadow: 0 50px 80px -20px rgba(32, 195, 187, 0.5);
}
.card-container {
  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  gap: 50px;
  top: 150px;
}
.card-inner1{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}
.card1:hover .card-inner1{
    transform: rotateY(180deg);
}
.card-front1, .card-back1{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
    /* overflow: hidden; */

}
.card-front1{
    background: linear-gradient(to right, #dccf18 #c41560);
}
.card-back1{
    background: linear-gradient(to right, #18d6dc #0c4b9e);
    color: #fff;
    box-shadow:  0 5px 20px #16698d;
    transform: rotateY(180deg);
}
img{
    height: 400px;
    width: 400px;
    /* overflow: hidden; */
    /* border-radius: 20px; */
    /* border-width: thin; */
}
p{
    /* align-items: center; */
    font-size: 25px;
    /* justify-content: center; */
    margin: 4px;
    padding: 10px;
    text-align: center;
    font-style: italic;
    
}
h1{
    font-style: italic;
}